/*.tab-item-active {
	color: #ffc900;
}*/
.bar-header.bar-light {
	border-bottom: 3px solid #886aea;
}
.button.nav-start {
	border-color: #ccc !important;
}
.account-info {
	margin-bottom: 15px;
}

.button.start.activated {
	background-color: #efefef !important;
	opacity: .65;
}
.button.start {
	font-size: 22px;
	/*	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 200px;
	height: 200px;*/
	height: 50px;
	background-color: #efefef !important;
}

button.start i.icon:before {
/*	font-size: 100%;*/
}