<ion-view title="Brainstorm">
    <ion-content padding="true">
	    <div ng-if="!enoughGroups || !enoughWords" class="card">
	        <div class="item item-text-wrap">
	            You must have <strong>at least</strong> two groups and two words between them to continue.
	        </div>
	    </div>
	    <div ng-if="enoughGroups && enoughWords">
	    	<form ng-submit="getSelected(groups)">
			    <div class="list card">
		            <div class="item item-divider">
		                <i class="icon ion-checkmark"></i> Select Groups
		            </div>
		            <div class="item item-text-wrap">
		    			Select only the groups from which you want to collect words.
		    		</div>
		            <ion-checkbox ng-init="selected=true" ng-model="group.selected" ng-repeat="group in groups" ng-change="groupChanged(group.selected)" class="item checkbox-energized">{{group.name}}</ion-checkbox>
			     </div>
			     <button class="button button-block button-stable button-outline button-icon icon-right ion-chevron-right">Continue</button>
			</form>
		</div>
    </ion-content>
</ion-view>
