<ion-view title="{{group.name}}">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-plus button-clear" ng-click="addWord()">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    <div ng-if="group.description" class="card">
        <div class="item item-text-wrap">
            <p>{{group.description}}</p>
        </div>
    </div>
    <div class="list card">
            <div class="item item-divider">
                <i class="icon ion-quote"></i> Group Words
            </div>
          <a href="#/tab/word/{{word.id}}" class="item item-remove-animate item-icon-right" ng-repeat="word in words" on-hold="confirmRemove(word)">
            <h2>{{word.value}}</h2>
            <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
          </a>
          <div ng-show="!canShowWords" class="item item-text-wrapper">
            You don't have any words in this group.
          </div>
      </div>
    </ion-content>
</ion-view>
