<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add a Group</h1>
      <button class="button button-small button-clear button-icon ion-close button-light" ng-click="closeAddGroupModal()"></button>
    </ion-header-bar>
    <ion-content class="padding">
    	<p ng-show="validationError" class="assertive text-center">{{errorMsg}}</p>
    	<form ng-submit="confirmAddGroup(group)">
	    	<div class="list">
			  <label class="item item-input">
			    <input type="text" placeholder="Name" ng-model="group.name" ng-value="">
			  </label>
			  <label class="item item-input">
			    <textarea placeholder="Description" ng-model="group.description">&nbsp;</textarea>
			  </label>
			  <button class="button button-block">
			    Submit
			  </button>
			</div>
		</form>
    </ion-content>
</ion-modal-view>