<ion-view title="Schema Manager">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-plus button-clear" ng-click="addGroup()">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                Your schema consists of words contained within groups. These groups can represent anything you want. It's all up to you and what you need to create.
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <i class="icon ion-grid"></i> Word Groups
            </div>
          <a href="#/tab/group/{{group.id}}" class="item item-remove-animate item-icon-right" ng-repeat="group in groups" on-hold="confirmRemove(group)">
            <h2>{{group.name}}</h2>
            <p>{{group.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
          <div ng-show="!canShowGroups" class="item item-text-wrapper">
            You don't have any groups.
          </div>
      </div>
    </ion-content>
</ion-view>
