<ion-view title="Settings">
    <ion-content class="padding">
    	<div class="card">
            <div class="item item-text-wrap">
                From here, you can manage your account, session, and other settings.
            </div>
        </div>
    	<div class="card">
		  <div class="item item-divider">
		    Account Details
		  </div>
	        <div class="item item-text-wrap">
	        	<div class="account-info">
		            <p>First Name: {{user.firstName}}<p>
		            <p>Last Name: {{user.lastName}}</p>
		            <p>Email: {{user.email}}</p>
	        	</div>
	        	<button class="button button-block button-sm button-assertive" ng-click="doLogoutAction()">
            		Logout
        		</button>
    		</div>
	    </div>
    </ion-content>
</ion-view>
