<ion-view title="IdeaFactory">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--<button class="button button-assertive" ng-click="doLogoutAction()">
            Logout
        </button>-->
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                Hello, there. Ready for some new ideas?
            </div>
        </div>
        <a href="#/tab/brainstorm-wizard" class="button button-block button-stable button-clear button-large energized start">
            <span class="energized"><i class="icon ion-lightbulb"></i></span> <span class="dark">Get brainstorming!</a>
        </a>
        <div ng-show="canShowCollections" class="list card">
            <div class="item item-divider">
                <i class="icon ion-star"></i> Saved Collections
            </div>
          <a href="#/tab/collection/{{collection.id}}" class="item item-remove-animate item-icon-right" ng-repeat="collection in collections">
            <h2>{{collection.name}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
          <div ng-show="!canShowCollections" class="item item-text-wrapper">
            You don't have any collections.
          </div>
      </div>
    </ion-content>
</ion-view>
