<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-icon-only':true, 'tabs-royal':true}" class="tabs-icon-only">

  <!-- Dash Tab -->
  <ion-tab title="Brainstorm" icon="icon ion-lightbulb" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Manage Tab -->
  <ion-tab title="Manage" icon="icon ion-filing" href="#/tab/manage">
    <ion-nav-view name="group-list"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
