<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add a Word</h1>
      <button class="button button-small button-clear button-icon ion-close button-light" ng-click="closeAddWordModal()"></button>
    </ion-header-bar>
    <ion-content class="padding">
    	<p ng-show="validationError" class="assertive text-center">{{errorMsg}}</p>
    	<form ng-submit="confirmAddWord(word)">
	    	<div class="list">
			  <label class="item item-input">
			    <input type="text" placeholder="Word" ng-model="word.value" ng-value="">
			  </label>
			  <button class="button button-block">
			    Submit
			  </button>
			</div>
		</form>
    </ion-content>
</ion-modal-view>