<ion-view title="IdeaFactory">
    <ion-nav-buttons side="left">
        <!--<button class="button button-balanced" ng-click="doSomeAction()">
            Get Brainstorming!
        </button>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-assertive" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item class="item item-thumbnail-left" ng-repeat="data in dataList" type="item-text-wrap"
                      href="#/tab/dash/{{$index}}">
                <pre>{{data | json}}</pre>
                <ion-option-button class="button-assertive" ng-click="doDeleteRow(data.id)">
                    DELETE
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
