<ion-view title="Login"  hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" ng-model="creds.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="creds.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a  ng-click="doLoginAction()"  class="button button-stable button-block">Log in</a>
            <a ui-sref='app-signup' class="button button-positive button-clear button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>